@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Inter:wght@300&family=Tajawal&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100% ;
    font-family: 'Inter';
    font-weight: 500;
    background: linear-gradient(90deg ,rgb(174, 209, 233)0%,rgb(140, 202, 241)50%,rgb(92, 190, 239)100%);
    
}



.show{
    position: absolute;
    display: flex;
    margin-left: 0;
    z-index: 100;
    transition: margin-left 0.5s ease-in-out;
    -webkit-transition: margin-left 0.5s ease-in-out;
    -moz-transition: margin-left 0.5s ease-in-out;
    -ms-transition: margin-left 0.5s ease-in-out;
    -o-transition: margin-left 0.5s ease-in-out;
}
@media screen and (max-width:641px) {
    .disapper{
        position: absolute;
        margin-left: -500%;
        transition: margin-left 0.5s ease-in-out;
        -webkit-transition: margin-left 0.5s ease-in-out;
        -moz-transition: margin-left 0.5s ease-in-out;
        -ms-transition: margin-left 0.5s ease-in-out;
        -o-transition: margin-left 0.5s ease-in-out;
}
}
@media screen and (min-width:490px) and (max-width:641px) {
    .input-user{
        margin-top: 30%;
    }
    .input-user-register{
        margin-top: 25%;
    }
    .footer{
        color: black;
        /* width: 0; */
    }
}
@media screen and (min-width:400px) and (max-width:489px) {
    .input-user{
        margin-top: 55%;
    }
    .input-user-register{
        margin-top: 35%;
        
    }
    .footer{
        color: black;
        font-size: 14px;
    }
}
@media screen and (max-width:400px) {
    .footer{
        font-size: 13px;
        color: black;
    }
    .input-user-register{
        margin-top: 35%;
        
    }
    
}
@media screen and (min-width:489px) {
    .footer{
        font-size: 14px;
        color: black;
    }
    
}
